<div id="plan-list" class="container">
  <main>
    <div class="title-container">
      <h1>Pacotes e planos para o seu celular</h1>
      <p>Analise os planos, simule os valores e escolha o melhor para você.</p>
    </div>

    <div class="plans">
      <ng-container *ngIf="(plans$ | async) as plans; else loading">
        <ng-container *ngIf="plans.length; else empty">
          <app-plan-item *ngFor="let plan of plans" [plan]="plan"></app-plan-item>
        </ng-container>

        <ng-template #empty>
          <span>Nenhum plano encontrado :(</span>
        </ng-template>
      </ng-container>

      <ng-template #loading>
        <span>Carregando...</span>
      </ng-template>
    </div>
  </main>
</div>
