<div id="plan-list" class="container">
  <main>
    <div class="title-container">
      <h1>Pacotes e planos para o seu celular</h1>
      <p>Analise os planos, simule os valores e escolha o melhor para você.</p>
    </div>

    <div class="plans">
      <app-plan-item></app-plan-item>
      <app-plan-item></app-plan-item>
      <app-plan-item></app-plan-item>
      <app-plan-item></app-plan-item>
      <app-plan-item></app-plan-item>
      <app-plan-item></app-plan-item>
      <app-plan-item></app-plan-item>
      <app-plan-item></app-plan-item>
    </div>
  </main>
</div>
