/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

:root {
  font-size: 60%;

  --color-background: #121212;
  --color-text-base: #f0f0f7;
  --color-line-divider: #ffffff1a;
  --color-card: #282828;
  --color-dark-background: #070707;
  --color-light-gray: #5a5a5a;
  --color-primary: #22c9a8;
  --color-dark-primary: #20af93;
  --color-input-background: #333333;
  --color-dark-white: #b3b3b3;
  --color-error: #ed5565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Montserrat;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

/* Toastr custom style */
#toast-container > div {
  box-shadow: none;
  font-size: 1.3rem;
}

.toast-success {
  background-color: var(--color-dark-primary);
}

.toast-error {
  background-color: var(--color-error);
}

.toast-title {
  margin-top: 0.1rem;
}

.toast-message {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
