/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~ngx-toastr/toastr';

:root {
  font-size: 60%;

  --color-background: #121212;
  --color-text-base: #f0f0f7;
  --color-line-divider: #ffffff1a;
  --color-card: #282828;
  --color-dark-background: #070707;
  --color-light-gray: #5a5a5a;
  --color-primary: #22c9a8;
  --color-dark-primary: #20af93;
  --color-input-background: #333333;
  --color-dark-white: #b3b3b3;
  --color-error: #ed5565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Montserrat;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

/* Toastr custom style */
#toast-container > div {
  box-shadow: none;
  font-size: 1.3rem;
}

.toast-success {
  background-color: var(--color-dark-primary);
}

.toast-error {
  background-color: var(--color-error);
}

.toast-info {
  background-color: var(--color-input-background);
}

.toast-title {
  margin-top: 0.1rem;
}

.toast-message {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}

/* NgbModal custom style */
.modal-content {
  background-color: var(--color-card) !important;
}

.modal-header {
  padding: 2rem 3rem;
  border-bottom-color: var(--color-line-divider);
}

.modal-body {
  padding: 3rem;
}

.modal-footer {
  padding: 2rem 3rem;
  border-top-color: var(--color-line-divider);
}

/* NgSelect custom style */
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: var(--color-dark-white) !important;
  font-size: 1.4rem;
}

.ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
  transform: translateY(-1.28125em) scale(0.9) perspective(100px) translateZ(0.001px);
}

.ng-select.ng-select-focused .ng-select-container:after {
  border-color: var(--color-primary) !important;
}

.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: var(--color-primary) !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color: var(--color-text-base);
}
