form {
  display: flex;
  flex-direction: column;
  text-align: start;
}

form app-input + app-input {
  margin-top: 1.8rem;
}

form button {
  margin-top: 3.95rem;
  height: 4rem;
  border-radius: 0.3rem;
  outline: 0;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-card);
  font-size: 1.45rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

form button:hover {
  background-color: var(--color-dark-primary);
}

form button:disabled {
  pointer-events: none;
}

