<article class="plan-item" [ngClass]="{'highlight': current}">
  <header>
    <span>{{ plan.name }}</span>
  </header>

  <main>
    <span>{{ plan.minutes }} min / grátis</span>

    <div class="price">
      <label>$</label>
      <strong>{{ plan.price }}</strong>
      <span>/ mês</span>
    </div>
  </main>

  <footer>
    <button type="button" (click)="subscribePlan(plan.id)" [ngClass]="{'disabled': current}">
      {{ current ? 'Meu plano' : 'Assinar' }}
    </button>
  </footer>
</article>
